.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0; /* Adjust margin as needed */
}


:root {
    --p-primary-color: #ffffff;
    --p-gradient: linear-gradient(
        45deg,
        #4895EF,
        #4cc9f0,
        #4AC8D9,
        #47C7C2,
        #42C494,
        #3DC266,
        #37BF37

    );
}

.personal-bg {
    background-image: var(--p-gradient);
    background-size: 300%;
    height: 100vh;
    animation: p-bg-animation 5s forwards;
    overflow: hidden;
}

@keyframes p-bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}


.checklist-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--p-primary-color); /* Set the background color */
    border-radius: 8px;
  }
  
  .checklist {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .checklist input[type="text"],
  .checklist button {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checklist-items {
    list-style-type: none;
    padding: 0;
  }
  
  .checklist-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  
  .checklist-items input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checklist-items label {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #333; /* Set the label color */
  }
  
  .checklist-items li.underlined label {
    text-decoration: underline;
  }
  
  /* Add background color to checked items */
  .checklist-items li.underlined {
    background-color: rgba(0, 0, 0, 0.05); /* Adjust the background color */
  }
  