/* 

.detail-section {
    background-color: white;
    max-width: 40%;
    border-radius: 10px;
    text-align: center;
    margin: 3rem;
    padding: 20px;
    
}

input {
    border: 1px solid blue;
}
 */
